*{
    padding: 0;
    margin: 0;
}
.train{
    animation-name: train;
    animation-duration: 2s;
    animation-delay: 2s;
    position: relative;
   
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform: scaleX(-1)

}
@keyframes train {
    0%{
       top: 0;
       left: 0;
      
    }
    100%{
        top: 0px;
        left: -500px;
    }
    
}
